<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" aria-label="Nom" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="myForm.get('email')?.hasError('email')">Veuillez entrer un email valide</mat-error>
    <mat-error *ngIf="myForm.get('email')?.hasError('required')">Le champ email est obligatoire</mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="accept" aria-label="Accept terms">Accept Terms and Conditions</mat-checkbox>

  <button mat-raised-button color="accent" type="submit">Submit</button>
</form>
