<form>
  <div>
    <label for="nameField">Nom :</label>
    <input type="text" id="nameField" name="nameField" aria-describedby="nameHelp" aria-label="Champ de nom" aria-required="true">
    <small id="nameHelp" class="form-text text-muted">Veuillez entrer votre nom.</small>
  </div>

  <div>
    <label for="emailField">Email :</label>
    <input type="email" id="emailField" name="emailField" aria-describedby="emailHelp" aria-label="Champ de l'email" aria-required="true">
    <small id="emailHelp" class="form-text text-muted">Veuillez entrer votre adresse email.</small>
  </div>

  <button type="submit" aria-label="Envoyer le formulaire">Envoyer</button>
</form>
